@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    margin: 0;
}

nav{
    height: 50px;
    background: rgb(71, 211, 211);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    color: rgb(245, 124, 11);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav a:first-child{
    color: black;
    font-size: 22pt;
    font-weight: bold;
}
